* {
    font-family: 'Montserrat', sans-serif;
}

.main {
    height: auto;
    width: auto;
    background-color: #e9e9e9;
    opacity: 0.8;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e9e9e9 10px), repeating-linear-gradient(#a6b69555, #a6b695);
    overflow-x: hidden;

}

.back h1 {
    justify-content: left;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    background: #507727;
    color: #e9e9e9;
    border-radius: 15px;
}

.conformed {
    display: flex;

    padding: 1px;
    background: #507727;
    color: #e9e9e9;
    border-radius: 10px;
}

.conform {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 1rem;
}

.rejected {

    display: flex;
    flex-direction: column;
    padding: 1px;
    background: #507727;
    color: #e9e9e9;
    border-radius: 10px;
}

.fmconf {
    display: flex;
    flex-direction: column;
    padding: 1px;
    background: #507727;
    color: #e9e9e9;
    border-radius: 10px;
}

.requests {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    row-gap: 1rem;
}

.content {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 8px;
    margin: .2%;


}

#f {
    flex-grow: 3;
    font-size: 1.2em;
    margin: .5%;
}

#g {
    flex-grow: 3;
    font-size: 1.2em;
    margin: .5%;
}

#s {
    flex-grow: 5;
    font-size: 1.2em;
    margin: .5%;
    left: 40px;
}

.accept {
    flex-shrink: .3;
    align-self: center;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    color: #fff;
    background-color: #507727;
    padding: 5px;
}

.accept:hover {
    cursor: pointer;
    border-radius: 10px;
    filter: brightness(150%) saturate(140%);
}

.reject:hover {
    cursor: pointer;
    border-radius: 10px;
    filter: brightness(150%) saturate(140%);
}

.reject {
    flex-shrink: .3;
    align-self: center;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    color: #fff;
    background-color: #a72b1d;
    padding: 5px;
}

#a {
    align-self: center;
    color: #fff;
    background-color: #507727;
    padding: 3px 7px;
    font-size: 100%;
    border-radius: 5px;
}

#r {

    align-self: center;
    color: #fff;
    background-color: #a72b1d;
    padding: 3px 7px;
    font-size: 100%;
    border-radius: 5px;

}

#r:hover {

    border-radius: 10px;
    filter: brightness(150%) saturate(140%);
}

#a:hover {

    border-radius: 10px;
    filter: brightness(150%) saturate(140%);
}

#b {
    align-self: center;
    color: #fff;
    background-color: #a72b1d;
    padding: 3px 7px;
    font-size: 100%;
    border-radius: 5px;
}

#b:hover {
    border-radius: 10px;
    filter: brightness(150%) saturate(140%);
}

#c {
    align-self: center;
    color: #fff;
    background-color: #0f334e;
    padding: 3px 7px;
    font-size: 100%;
    border-radius: 5px;
}

#c:hover {
    border-radius: 10px;
    filter: brightness(150%) saturate(140%);
}

#d {
    align-self: center;
    color: #fff;
    background-color: #3f5a3c;
    padding: 3px 7px;
    font-size: 100%;
    border-radius: 5px;
}

#d:hover {
    border-radius: 10px;
    filter: brightness(150%) saturate(140%);
}

.rejects {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 1rem;
}

.fmcon {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    row-gap: 1rem;
}

.popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
}

.popupContent {
    top: 15%;
    left: 10%;
    height: 70%;
    width: 80%;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

.close {
    position: absolute;
    top: -2.5%;
    right: -3%;
    cursor: pointer;


}



.f-container,
.s-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgba(238, 238, 238, .7);
    border-radius: 2rem;
    padding: 2rem;
    width: 30%;
    align-items: center;
}

.s-container {
    margin-left: 200px;
}


.c-b {
    width: 70%;
    padding: 1rem;
    margin: 3;
    border-radius: 40px;
    border: double;
    border-width: 4px;
    background-color: #22593f;
    color: #fff;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}

.f-container h3,
.s-container h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: .5rem;
    color: #333;
    text-transform: uppercase;
    text-align: center;
}

.heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: .5rem;
    color: #333;
    text-transform: uppercase;
    text-align: center;
}

.cbutton {
    flex: 2 1 auto;
    text-align: center;
    cursor: pointer;
    padding: 15px 32px;
    border-radius: 25px;
    font-size: 16px;
}

section {
    padding: 2rem;
}

.add-product-form {
    max-width: 38rem;
    background-color: #eee;
    border-radius: 3rem;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 2rem;


}

.add-product-form .box {
    text-transform: none;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    border-radius: 1rem;
    background-color: #fff;
    margin: 1rem 0;
    width: 100%;
    border-style: none;
    height: auto;
}

.add-product-form h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
    text-transform: uppercase;
    text-align: center;
}



.btn,
.delete-btn,
.update-btn {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #a6b695;
    color: #fff;
    font-size: 1.7rem;
    padding: 1.2rem 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
    border-style: none;
    height: auto;
}

.btn:hover,
.delete-btn:hover,
.update-btn:hover {
    background-color: #333;
}

.delete-btn {
    margin-top: 3;
    background-color: #ff6347;

    border-radius: 1rem;
}

.update-btn {
    background-color: #246a0f;
    border-radius: 1rem;
    margin-bottom: 5;
}

.delete-btn i,
.update-btn i {
    padding-right: .5rem;
}



.product-table table {
    padding: 2rem;
    width: 100%;
    height: auto;
    text-align: center;

}

.product-table table thead th {
    padding: 1.5rem;
    font-size: 2rem;
    background-color: #333;
    color: #fff;
    border-radius: .5rem;
}

.product-table table td {
    padding: 1.5rem;
    font-size: 2rem;
    color: #333;
    padding: 0;
    border-bottom: solid;


}

.product-table .empty {
    margin-bottom: 2rem;
    text-align: center;
    background-color: #eee;
    color: #333;
    font-size: 2rem;
    padding: 1.5rem;
}

.message {
    position: absolute;
    margin-top: 1%;
    left: 38%;
    width: max-content;
    background-color: #a6b695;
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: .5rem;
}

.m-flex {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    justify-content: center;
}

.stocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 2%;

}

.card img {
    width: 80%;
    height: 70%;
    margin-top: 4%;
}

.card {
    border: 5px solid #fff;
    border-radius: 15px;
    width: 25%;
    margin: 2%;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    height: 22rem;
}

footer {

    color: #246a0f;
    padding: 1rem;
    text-align: center;
}

.navbar {
    background-color: rgba(36, 106, 15, .5);
    display: flex;
    flex-direction: row;
    height: 8%;
    align-items: center;
    justify-content: end;
}

.navbar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;

}

.profile_pic {
    position: relative;
    left: 2%;
    top: 30%;
    margin-right: 2%;

}

.profile_pic img {
    border: #fff;
    border-style: solid;
    border-radius: 50%;
    border-width: 10px;
    width: 300px;
}

.details {
    margin-left: 2%;
    background-color: rgba(166, 182, 149, 0.6);
    width: 70%;
    border-radius: 20px;

}

label {
    position: relative;
    bottom: -5px;
    color: #5d4732;
}

input {
    width: 60%;
    height: 34px;
    padding: 5px;
    border: 1px solid #e4e2e0;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    transition: all 0.3s;
}


.container {
    display: flex;
    flex-direction: column;

}