@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.header {
    background-color: #a6b695;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.header .flex .logo {
    margin-right: auto;
    font-size: 2.5rem;
    color: #fff;
}

.header .flex .navbar a {
    margin-left: 2rem;
    font-size: 2rem;
    color: #fff;
}

.header .flex .navbar a:hover {
    color: var(--black)
}


.header .flex .cart {
    margin-left: 2rem;
    font-size: 2rem;
    color: #fff;
}

.header .flex .cart:hover {
    color: #333;
}

.header .flex .cart span {
    padding: .1rem .5rem;
    border-radius: .5rem;
    background-color: ff6347;
    color: #fff;
    font-size: 2rem;
}

.container {

    max-width: 1200px;
    margin: 0 auto;
    /* padding-bottom: 5rem; */

}

section {
    padding: 2rem;
}

.add-product-form {
    max-width: 50rem;
    background-color: #eee;
    border-radius: 2rem;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 2rem;
}

.add-product-form h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
    text-transform: uppercase;
    text-align: center;
}

.add-product-form .box {
    text-transform: none;
    padding: 1.2rem 1.4rem;
    font-size: 1.7rem;
    color: #333;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1rem 0;
    width: 100%;
}

.btn,
.delete-btn,
.update-btn {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #a6b695;
    color: #fff;
    font-size: 1.7rem;
    padding: 1.2rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 1rem;
}

.btn:hover,
.delete-btn:hover,
.update-btn:hover {
    background-color: #333;
}

.delete-btn {
    margin-top: 0;
    background-color: #ff6347;
}

.delete-btn i,
.update-btn i {
    padding-right: .5rem;
}

.update-btn {
    background-color: #838a85;
}

.product-table table {
    width: 100%;
    height: auto;
    text-align: center;

}

.product-table table thead th {
    padding: 1.5rem;
    font-size: 2rem;
    background-color: #333;
    color: #fff;
}

.product-table table td {
    padding: 1.5rem;
    font-size: 2rem;
    color: #333;
}


.product-table table td {
    padding: 0;
}


.product-table .empty {
    margin-bottom: 2rem;
    text-align: center;
    background-color: #eee;
    color: #333;
    font-size: 2rem;
    padding: 1.5rem;
}

.message {
    position: relative;
    top: 3%;
    left: 40%;
    width: max-content;
    background-color: #a6b695;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
}

.logout {
    background-color: #3A7136;
    padding: .5rem;
    border-radius: 10%;
    font-size: 1.5rem;
    color: #fff;
    position: relative;
    left: 75%;
}

.logout:hover {
    background-color: #333;
}

.home {
    background-color: #E3F2B9;
}

.users .farmers,
.wholesellers,
.deliver {
    position: absolute;
    top: 30%;
}

.farmers {
    position: absolute;
    left: 20%;
    box-sizing: border-box;
    background: #A6B695;
    border-radius: 8px;
    border: 2px solid #DDE2FF;
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 3%;
    padding-right: 5%;
    font-size: 2rem;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;



}

.wholesellers {
    position: absolute;
    left: 40%;
    box-sizing: border-box;
    background: #A6B695;
    border-radius: 8px;
    border: 2px solid #DDE2FF;
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 3%;
    padding-right: 5%;
    font-size: 2rem;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

.deliver {
    position: absolute;
    left: 65%;
    box-sizing: border-box;
    background: #A6B695;
    border-radius: 8px;
    border: 2px solid #DDE2FF;
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 3%;
    padding-right: 5%;
    font-size: 2rem;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

.num {
    font-size: 3rem;
}