@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.header {
    background-color: #a6b695;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.header .flex .logo {
    margin-right: auto;
    font-size: 2.5rem;
    color: #fff;
}

.header .flex .navbar a {
    margin-left: 2rem;
    font-size: 2rem;
    color: #fff;
}

.header .flex .navbar a:hover {
    color: var(--black)
}


.header .flex .cart {
    margin-left: 2rem;
    font-size: 2rem;
    color: #fff;
}

.header .flex .cart:hover {
    color: #333;
}

.header .flex .cart span {
    padding: .1rem .5rem;
    border-radius: .5rem;
    background-color: ff6347;
    color: #fff;
    font-size: 2rem;
}

.container {

    max-width: 1200px;
    margin: 0 auto;
    /* padding-bottom: 5rem; */

}

.logout {
    background-color: #3A7136;
    padding: .5rem;
    border-radius: 10%;
    font-size: 1.5rem;
    color: #fff;
    position: relative;
    left: 60%;
}

.logout:hover {
    background-color: #333;
}

.home {
    background-color: #e9e9e9;
    opacity: 0.8;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e9e9e9 10px), repeating-linear-gradient(#a6b69555, #a6b695);
}

.btn_line .add_btn,
.ordes_btn,
.stock_btn {
    position: absolute;
    top: 30%;
}

.add_btn {
    position: absolute;
    left: 20%;
    padding: 2rem 3rem;
    background-color: #a6b695;
    font-size: 2rem;
    color: #fff;
    border-radius: 20px;
}

.ordes_btn {
    position: absolute;
    left: 40%;
    padding: 2rem 3rem;
    background-color: #a6b695;
    font-size: 2rem;
    color: #fff;
    border-radius: 20px;
}

.stock_btn {
    position: absolute;
    left: 60%;
    padding: 2rem 3rem;
    background-color: #a6b695;
    font-size: 2rem;
    color: #fff;
    border-radius: 20px;
}